	$siteHeader: '.header';
	$sidebarTrigger: '.sidebar-trigger';
/* Common =================================================================== */
	body{
		font: 400 14px/22px $primaryFont;
		margin: 0;
		color: $textColor;
	}
	a{
		transition: color $fastSpeed linear;
	}
/* Headings ================================================================= */
	h1{
		font: 900 64px/1.0625 $primaryFont;
	}
/* ========================================================================== */
	p{
		margin: 0 0 20px;
	}
	.flex{
		@include flexbox;
	}
	div.page{
		min-height: 100vh;
		min-width: $minWidth;
  	flex-direction: column;
  	align-items: stretch;
  	overflow: hidden;
	}
	.mw{
		width: 100%;
		max-width: $mainWidth + $mobileSpacing*2;
		margin: 0 auto;
		padding-left: $mobileSpacing;
		padding-right: $mobileSpacing;
	}
	.contact-link{
		display: block;
		margin: 5px 0;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: .8px;
	}
	#{$link}{
		@extend %link;
	}
	.i-cart{
		cursor: pointer;
		transition: color $fastSpeed linear;
		&::before{
			content: $iCart;
			font-family: $iconsFont;
		}
	}
	.zombie{
		display: none;
		height: 100%;
		text-align: center;
		td{
			padding: 0 20px;
			vertical-align: middle;
		}
		cite{
			display: block;
		}
	}
	#{$notHandheld}{
		.i-cart{
			&:hover{
				color: $successColor;
			}
		}
	}
/* ========================================================================== */