/* Colors =================================================================== */
  $themeColor:           #282C37;
  $errorColor:           #FF8383;
  $successColor:         #77BE43;
  $textColor:            #767676;
/* Fonts ==================================================================== */
  $primaryFont:         'Arimo',sans-serif;
  $iconsFont:           'Icomoon', sans;
/* Transition Speed ========================================================= */
  $fastSpeed:           .2s;
  $normalSpeed:         $fastSpeed*1.5;
  $slowSpeed:           $fastSpeed*2.5;
/* Not Handheld ============================================================= */
  $notHandheld:         '.not-handheld';
/* Images =================================================================== */
  $preloaderImage:      'url(../img/preloader.svg)';
/* Icons ==================================================================== */
  $iTriangleRight:      '\E900';
  $iCart:               '\E901';
  $iMenu:               '\E902';
  $iDots:               '\E903';
/* Icons | Local ============================================================ */
  $local-iExcel:        '../img/svg/file-excel.svg';
/* Indents and Widths ======================================================= */
  $cu:                  20px;
  $mobileSpacing:       10px;
  $mainWidth:           980px;
  $m:                   900px;
  $s:                   700px;
  $xs:                  500px;
  $minWidth:            320px;
/* Variables ================================================================ */
  $title:               '.title';
  $button:              '.btn';
  $sidebar:             '.sidebar';
  $link:                '.link';
/* Navigation =============================================================== */
  $mainNav:             '.main-nav';
  $navLink:             '.nav-link';
/* Navigation | Levels list ================================================= */
  $levelsList:          '.levels-list';
  $topLevel:            '.level-0';
  $subLevel:            '.level-1';
/* Buttons Width ============================================================ */
  $bLarge:              270px;
  $bMedium:             240px;
  $bSmall:              223px;
/* ========================================================================== */