/* Colors =================================================================== */
  $themeColor:           #282C37;
  $formsElColor:         #F3F3F3;
  $errorColor:           #DD4B39;
  $textColor:            #767676;
/* Fonts ==================================================================== */
  $primaryFont:         'Arimo',sans-serif;
  $iconsFont:           'Icomoon', sans;
/* Transition Speed ========================================================= */
  $fastSpeed:           .2s;
  $normalSpeed:         $fastSpeed*1.5;
  $slowSpeed:           $fastSpeed*2.5;
/* Not Handheld ============================================================= */
  $notHandheld:         '.not-handheld';
/* Images =================================================================== */
  $preloaderImage:      'url(../img/preloader.svg)';
/* Icons ==================================================================== */
/* Grid Variables =========================================================== */
/* Indents and Widths ======================================================= */
  $cu:                  20px;
  $mobileSpacing:       10px;
  $mainWidth:           980px;
  $m:                   900px;
  $s:                   700px;
  $xs:                  500px;
  $minWidth:            320px;
/* Variables ================================================================ */
  $title:               '.title';
  $button:              '.btn';
  $sidebar:             '.sidebar';
/* Buttons Width ============================================================ */
  $bLarge:              270px;
  $bMedium:             240px;
  $bSmall:              223px;
/* ========================================================================== */