	$validationMessage: '.validation-message';
	$ajaxMessage:       '.ajax-respond';
	$fMessage:          '.message';
/* Common =================================================================== */
	label{
		display: inline-block;
		cursor: pointer;
	}
	fieldset{
		padding: 0;
		margin: 0;
		border: 0;
	}
	input,
	select,
	textarea{
		padding: 11px;
		border: 1px solid #C3C3C3;
		background: transparent;
		font: 14px/20px $primaryFont;
		transition:
			border $fastSpeed linear,
			box-shadow $fastSpeed linear;
		&.validation-error{
			border-color: $errorColor;
			box-shadow: 0 0 10px $errorColor inset;
			&::-webkit-input-placeholder{
			 	color: $errorColor;
			 	font-style: italic;
			}
			&::-moz-placeholder{
			  color: $errorColor;
			  font-style: italic;
			}
			&:-ms-input-placeholder{
			  color: $errorColor;
			  font-style: italic;
			}
		}
	}
	input:not([type="submit"]),
	select{
		height: 42px;
	}
	input:not([type="submit"]),
	textarea{
		&:focus{
			border-color: $themeColor;
			box-shadow: 0 0 0 rgba(#FFF,0) inset;
			&::-webkit-input-placeholder{
			 	color: transparent;
			}
			&::-moz-placeholder{
			  color: transparent;
			}
			&:-ms-input-placeholder{
			  color: transparent;
			}
		}
	}
	textarea{
		height: 142px;
		resize: none;
	}
	form{
		position: relative;
		em{
			color: $errorColor;
		}
		.title{
			width: 100%;
			margin: 0 0 28px;
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			color: #535353;
		}
		#{$button}{
			width: auto;
			margin: 0 0 0 auto;
		}
	}
	fieldset{
		input,
		select,
		textarea{
			margin: 0 0 15px;
		}
	}
/* Validation =============================================================== */
	#{$fMessage}{
		display: block;
		line-height: 1.1;
		padding: 5px;
		background: rgba($successColor,.2);
		border: 1px solid $successColor;
		color: $themeColor;
		text-transform: uppercase;
	}
	#{$validationMessage}{
		font-size: 10px;
		margin: 0 0 10px;
		background: rgba($errorColor,.2);
		border-color: $errorColor;
	}
/* Ajax ===================================================================== */
	form{
		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: #FFF #{$preloaderImage} no-repeat center center / 50px 50px;
			transition:
				opacity $fastSpeed linear,
				visibility $fastSpeed linear;
			@extend %hidden;
		}
		&.loading{
			&::before{
				@extend %visible;
			}
		}
	}
	#{$ajaxMessage}{
		margin: 15px 0 0;
		text-align: center;
		font-size: 14px;
	}
/* ========================================================================== */
	@media screen and (max-width: $xs){
		form{
			#{$button}{
				width: 100%;
			}
		}
	}
/* ========================================================================== */