$validation: 'span[role="alert"]';

label{
	display: inline-block;
	margin: 0 0 9px;
	color: #747E80;
	cursor: pointer;
	@extend %smallTitle;
}

input,
select,
textarea{
	padding: 16px 38px;
	border: 1px solid $formsElColor;
	background: $formsElColor;
	border-radius: 40px;
	font: 500 14px/16px $primaryFont;
	color: #303234;
	transition: border $fastSpeed linear;
}

input,
select{
	height: 50px;
}

input:not([type="submit"]),
textarea{
	&:focus{
		border-color: $themeColor;
	}
}

textarea{
	height: 100px;
	border-radius: 15px;
	resize: none;
}

input[type="submit"]{
	@extend %button;
}

#{$validation}{
	font-size: 12px;
	color: $errorColor;
}