/* ========================================================================== */
	#{$button}{
		@extend %button;
		&-large{
			height: 42px;
			padding: 10px 27px;
			font: 700 17px/22px $primaryFont;
			letter-spacing: 1px;
		}
	}
/* ========================================================================== */
