$cols2:     '.cols-2';
$col-1:     '.col-1';
$col-2:     '.col-2';
$equalCols: '.equal-cols';
/* ========================================================================== */
	#{$cols2}{
		margin-top: 32px;
		align-items: flex-start;
		#{$col-1}{
			padding-right: 20px;
			@include flex(0 1 $mainWidth - 770px);
		}
		#{$col-2}{
			@include flex(0 1 770px);
		}
	}
	#{$equalCols}{
		#{$col-1},
		#{$col-2}{
			padding-right: 20px;
			@include flex(0 1 auto);
		}
	}
/* Media Queries ============================================================ */
	@media screen and (max-width: $s){
		#{$cols2}{
			flex-wrap: wrap;
			#{$col-1},
			#{$col-2}{
				@include flex(0 1 100%);
			}
		}
	}
/* ========================================================================== */