@charset "UTF-8";
/* Colors =================================================================== */
/* Fonts ==================================================================== */
/* Transition Speed ========================================================= */
/* Not Handheld ============================================================= */
/* Images =================================================================== */
/* Icons ==================================================================== */
/* Icons | Local ============================================================ */
/* Indents and Widths ======================================================= */
/* Variables ================================================================ */
/* Navigation =============================================================== */
/* Navigation | Levels list ================================================= */
/* Buttons Width ============================================================ */
/* ========================================================================== */
/* Reset ==================================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a,
input, select, textarea, hr, button {
  vertical-align: bottom;
  box-sizing: border-box;
  user-select: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

body,
html {
  height: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  outline: none; }
  a:link, a:visited, a:active {
    outline: none; }

b {
  font-weight: 700; }

ins {
  background-color: #FF9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #FF9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px; }

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto; }

address {
  font-style: normal; }

dd,
dl {
  margin: 0; }

/* Forms ==================================================================== */
input,
select,
textarea {
  width: 100%;
  display: block;
  outline: none;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none; }

textarea {
  resize: none;
  transition: border-color 0.2s ease-in; }

/* ========================================================================== */
/* Primary Font ============================================================= */
@font-face {
  font-family: 'Arimo';
  src: url("../fonts/primary-font/arimo-regular-webfont.woff") format("woff"), url("../fonts/primary-font/arimo-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
/* Icons Font =============================================================== */
@font-face {
  font-family: 'Icomoon';
  src: url("../fonts/icons-font/icomoon.woff") format("woff"), url("../fonts/icons-font/icomoon.ttf") format("truetype"), url("../fonts/icons-font/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ========================================================================== */
form::before, .pop-up, .hero-slider .slide {
  opacity: 0;
  visibility: hidden; }

form.loading::before, .pop-up.active, .pop-up:target, .hero-slider .slide.active {
  opacity: 1;
  visibility: visible; }

.btn {
  height: 36px;
  padding: 10px 19px;
  border: 1px solid #282C37;
  background: #282C37;
  color: #FFF;
  font: 15px/16px "Arimo", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.2s linear, background 0.2s linear; }
  .btn:hover {
    background: transparent;
    color: #282C37; }

.link {
  position: relative; }
  .link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border-bottom: 1px solid;
    transition: transform 0.2s linear;
    transform: scale(0); }

.not-handheld .link:hover::after {
  transform: scale(1); }

@keyframes scaleUp {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.4); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes scaleUp {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.4); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
@keyframes scaleDown {
  0% {
    transform: scale(0.6); }
  25% {
    transform: scale(1.2); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes scaleDown {
  0% {
    transform: scale(0.6); }
  25% {
    transform: scale(1.2); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
/* Common =================================================================== */
label {
  display: inline-block;
  cursor: pointer; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

input,
select,
textarea {
  padding: 11px;
  border: 1px solid #C3C3C3;
  background: transparent;
  font: 14px/20px "Arimo", sans-serif;
  transition: border 0.2s linear, box-shadow 0.2s linear; }
  input.validation-error,
  select.validation-error,
  textarea.validation-error {
    border-color: #FF8383;
    box-shadow: 0 0 10px #FF8383 inset; }
    input.validation-error::-webkit-input-placeholder,
    select.validation-error::-webkit-input-placeholder,
    textarea.validation-error::-webkit-input-placeholder {
      color: #FF8383;
      font-style: italic; }
    input.validation-error::-moz-placeholder,
    select.validation-error::-moz-placeholder,
    textarea.validation-error::-moz-placeholder {
      color: #FF8383;
      font-style: italic; }
    input.validation-error:-ms-input-placeholder,
    select.validation-error:-ms-input-placeholder,
    textarea.validation-error:-ms-input-placeholder {
      color: #FF8383;
      font-style: italic; }

input:not([type="submit"]),
select {
  height: 42px; }

input:not([type="submit"]):focus,
textarea:focus {
  border-color: #282C37;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset; }
  input:not([type="submit"]):focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  input:not([type="submit"]):focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: transparent; }
  input:not([type="submit"]):focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    color: transparent; }

textarea {
  height: 142px;
  resize: none; }

form {
  position: relative; }
  form em {
    color: #FF8383; }
  form .title {
    width: 100%;
    margin: 0 0 28px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #535353; }
  form .btn {
    width: auto;
    margin: 0 0 0 auto; }

fieldset input,
fieldset select,
fieldset textarea {
  margin: 0 0 15px; }

/* Validation =============================================================== */
.message {
  display: block;
  line-height: 1.1;
  padding: 5px;
  background: rgba(119, 190, 67, 0.2);
  border: 1px solid #77BE43;
  color: #282C37;
  text-transform: uppercase; }

.validation-message {
  font-size: 10px;
  margin: 0 0 10px;
  background: rgba(255, 131, 131, 0.2);
  border-color: #FF8383; }

/* Ajax ===================================================================== */
form::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #FFF url(../img/preloader.svg) no-repeat center center/50px 50px;
  transition: opacity 0.2s linear, visibility 0.2s linear; }

.ajax-respond {
  margin: 15px 0 0;
  text-align: center;
  font-size: 14px; }

/* ========================================================================== */
@media screen and (max-width: 500px) {
  form .btn {
    width: 100%; } }
/* ========================================================================== */
/* Common =================================================================== */
body {
  font: 400 14px/22px "Arimo", sans-serif;
  margin: 0;
  color: #767676; }

a {
  transition: color 0.2s linear; }

/* Headings ================================================================= */
h1 {
  font: 900 64px/1.0625 "Arimo", sans-serif; }

/* ========================================================================== */
p {
  margin: 0 0 20px; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center; }

div.page {
  min-height: 100vh;
  min-width: 320px;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden; }

.mw {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }

.contact-link {
  display: block;
  margin: 5px 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .8px; }

.i-cart {
  cursor: pointer;
  transition: color 0.2s linear; }
  .i-cart::before {
    content: "";
    font-family: "Icomoon", sans; }

.zombie {
  display: none;
  height: 100%;
  text-align: center; }
  .zombie td {
    padding: 0 20px;
    vertical-align: middle; }
  .zombie cite {
    display: block; }

.not-handheld .i-cart:hover {
  color: #77BE43; }

/* ========================================================================== */
/* Header =================================================================== */
.header {
  background: #F7F7F7; }

.info-bar {
  padding-top: 18px;
  padding-bottom: 21px; }
  .info-bar .logo {
    margin: 5px 0 0;
    max-width: 200px; }
  .info-bar .contact-info {
    padding-right: 20px; }

/* Media Queries ============================================================ */
@media screen and (max-width: 900px) {
  .info-bar {
    padding-top: 20px;
    padding-bottom: 20px; }
    .info-bar .logo {
      margin: 0; } }
@media screen and (max-width: 700px) {
  .info-bar .contact-block {
    width: 120px;
    flex-flow: row wrap;
    justify-content: flex-end; }
  .info-bar .contact-info {
    padding: 0; }
  .info-bar .btn {
    -webkit-box-flex: 0 1 100%;
    -moz-box-flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
  .info-bar .contact-link {
    font-size: 12px;
    line-height: 16px; } }
@media screen and (max-width: 700px) {
  .info-bar .logo {
    max-width: 150px; } }
/* ========================================================================== */
/* ========================================================================== */
.footer {
  align-items: flex-start;
  margin-top: 82px;
  padding-top: 44px;
  padding-bottom: 44px;
  border-top: 1px solid #EAEAEA;
  font-size: 14px; }
  .footer .main-nav {
    -webkit-box-flex: 0 1 659px;
    -moz-box-flex: 0 1 659px;
    -webkit-flex: 0 1 659px;
    -ms-flex: 0 1 659px;
    flex: 0 1 659px; }

.copy {
  line-height: 20px; }

/* Media Queries ============================================================ */
@media screen and (max-width: 900px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0 0;
    padding-top: 20px;
    padding-bottom: 20px; }
    .footer .main-nav {
      margin: 0 0 20px;
      -webkit-box-flex: 0 1 100%;
      -moz-box-flex: 0 1 100%;
      -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
    .footer .copy {
      order: 2; }
      .footer .copy br {
        display: none; } }
@media screen and (max-width: 500px) {
  .footer .main-nav {
    flex-wrap: wrap; }
    .footer .main-nav .nav-link {
      margin: 0 0 10px;
      -webkit-box-flex: 0 1 100%;
      -moz-box-flex: 0 1 100%;
      -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; } }
/* ========================================================================== */
/* ========================================================================== */
.sidebar {
  line-height: 1.2; }
  .sidebar .levels-list {
    margin: 0 0 68px; }

/* ========================================================================== */
@media screen and (max-width: 900px) {
  .sidebar .levels-list {
    margin: 0 0 20px; } }
/* ========================================================================== */
/* ========================================================================== */
.cols-2 {
  margin-top: 32px;
  align-items: flex-start; }
  .cols-2 .col-1 {
    padding-right: 20px;
    padding-bottom: 20px;
    -webkit-box-flex: 0 1 210px;
    -moz-box-flex: 0 1 210px;
    -webkit-flex: 0 1 210px;
    -ms-flex: 0 1 210px;
    flex: 0 1 210px; }
  .cols-2 .col-2 {
    -webkit-box-flex: 0 1 770px;
    -moz-box-flex: 0 1 770px;
    -webkit-flex: 0 1 770px;
    -ms-flex: 0 1 770px;
    flex: 0 1 770px; }

.equal-cols .col-1,
.equal-cols .col-2 {
  padding-right: 20px;
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto; }

/* Media Queries ============================================================ */
@media screen and (max-width: 900px) {
  .cols-2 {
    margin-top: 20px; } }
@media screen and (max-width: 700px) {
  .sidebar-trigger {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0 20px;
    border: 1px solid;
    color: #767676;
    text-align: center;
    border-radius: 2px; }
    .sidebar-trigger::before {
      content: "";
      font: 24px/40px "Icomoon", sans; }
    .sidebar-trigger.active {
      color: #282C37; }

  .cols-2 {
    flex-wrap: wrap; }
    .cols-2 .sidebar {
      max-height: 60px;
      overflow: hidden;
      transition: max-height 0.2s linear; }
      .cols-2 .sidebar.active {
        max-height: 1000px; }
    .cols-2 .col-2 {
      -webkit-box-flex: 0 1 100%;
      -moz-box-flex: 0 1 100%;
      -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; } }
/* ========================================================================== */
/* ========================================================================== */
.btn-large {
  height: 42px;
  padding: 10px 27px;
  font: 700 17px/22px "Arimo", sans-serif;
  letter-spacing: 1px; }

/* ========================================================================== */
/* ========================================================================== */
.download-link {
  min-height: 40px;
  padding-left: 50px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .5px;
  color: #282C37;
  background: url(../img/svg/file-excel.svg) no-repeat left center/auto 40px; }

/* Not Handheld ============================================================= */
.not-handheld .download-link:hover {
  color: #767676; }

/* ========================================================================== */
/* ========================================================================== */
.pop-up {
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s linear, visibility 0.2s linear;
  z-index: 1; }
  .pop-up.active .content, .pop-up:target .content {
    transform: scale(1); }
  .pop-up .content {
    position: relative;
    max-width: 466px;
    margin: 0 auto;
    padding: 33px 62px 26px 63px;
    background: #FFF;
    transition: transform 0.2s linear;
    transform: scale(0.5); }
    .pop-up .content-outer {
      width: 100%;
      max-height: 100%;
      padding: 27px;
      overflow-x: hidden; }
  .pop-up .i-close {
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 27px;
    height: 27px;
    background: #FFF;
    text-align: center;
    line-height: 27px;
    font-size: 32px;
    cursor: pointer; }

.not-handheld .i-close:hover {
  color: #FF8383; }

/* ========================================================================== */
@media screen and (max-width: 900px) {
  .pop-up .content {
    padding: 20px 30px; }
    .pop-up .content-outer {
      padding: 20px; }
  .pop-up .i-close {
    bottom: auto;
    left: auto;
    top: 10px;
    right: 10px; } }
/* ========================================================================== */
/* ========================================================================== */
.main-nav {
  text-transform: uppercase;
  letter-spacing: .1px;
  text-align: center; }
  .main-nav .nav-link {
    font-size: 16px;
    line-height: 1; }

/* ========================================================================== */
/* Header Navigation ======================================================== */
.header-nav {
  position: relative;
  padding: 33px 0 30px;
  background: #282C37;
  color: #FFF; }
  .header-nav .main-nav {
    justify-content: center; }
  .header-nav .nav-link {
    border-left: 1px solid #424757;
    padding: 0 4.489795918367347%; }
    .header-nav .nav-link:first-child {
      border: 0; }

.handheld-nav {
  display: none;
  width: 50px;
  text-align: center;
  transition: background 0.2s linear; }
  .handheld-nav::before {
    content: "";
    font: 20px/50px "Icomoon", sans; }
  .handheld-nav.active {
    background: #767676; }

/* Media Queries ============================================================ */
@media screen and (max-width: 900px) {
  .handheld-nav {
    display: block;
    margin-left: auto; }

  .header-nav {
    padding: 0; }
    .header-nav .mw {
      padding-right: 0; }
    .header-nav .main-nav {
      flex-flow: row wrap;
      position: absolute;
      max-width: 320px;
      top: 100%;
      right: 0;
      padding: 10px 0;
      background: #767676;
      text-align: right;
      transition: transform 0.2s linear;
      transform: translate(100%, 0);
      z-index: 1; }
      .header-nav .main-nav.active {
        transform: translate(0, 0); }
    .header-nav .nav-link {
      padding: 10px 20px;
      border: 0;
      -webkit-box-flex: 0 1 100%;
      -moz-box-flex: 0 1 100%;
      -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; } }
@media screen and (max-width: 500px) {
  .header-nav .main-nav {
    max-width: 100%;
    text-align: center; } }
/* ========================================================================== */
/* ========================================================================== */
.levels-list ul {
  padding-left: 15px; }
.levels-list .level-0 {
  margin: 0 0 11px;
  font-size: 16px; }
  .levels-list .level-0.active {
    margin-bottom: 21px; }
    .levels-list .level-0.active > .link {
      margin: 0 0 16px;
      color: #282C37; }
.levels-list .level-1 {
  margin: 0 0 6px;
  font-size: 14px; }
  .levels-list .level-1.active {
    color: #010101; }
    .levels-list .level-1.active .link::after {
      transform: scale(1); }
  .levels-list .level-1 a::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #767676;
    border-radius: 50%;
    top: 5px;
    left: -8px; }

/* ========================================================================== */
/* Slider | Nav Dots ======================================================== */
.nav-dots {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center; }

.nav-dot {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  background: rgba(40, 44, 55, 0.25);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s linear; }
  .nav-dot.active {
    background: #FFF; }

.slide {
  display: none; }
  .slide:first-child {
    display: block; }

.not-handheld .nav-dot:hover {
  background: #FFF; }

/* ========================================================================== */
/* ========================================================================== */
.hero-slider {
  position: relative; }
  .hero-slider .slide {
    position: absolute;
    display: block;
    width: 100%;
    height: 537px;
    top: 0;
    left: 0;
    background: no-repeat center center / cover;
    transition: opacity 0.2s linear, visibility 0.2s linear; }
    .hero-slider .slide.active {
      position: relative; }
  .hero-slider .nav-dots {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 8px 0; }

/* ========================================================================== */
@media screen and (max-width: 900px) {
  .hero-slider .slide {
    height: 400px; } }
@media screen and (max-width: 700px) {
  .hero-slider .slide {
    height: 300px; } }
@media screen and (max-width: 500px) {
  .hero-slider .slide {
    height: 200px; } }
/* ========================================================================== */
/* ========================================================================== */
.breadcrumbs {
  justify-content: flex-start;
  margin-top: 38px;
  font-size: 14px;
  line-height: 16px;
  color: #282C37; }

.crumb {
  position: relative;
  padding-right: 32px; }
  .crumb::before {
    content: "";
    position: absolute;
    right: 8px;
    top: 0;
    font-family: "Icomoon", sans;
    font-size: 12px; }
  .crumb:last-child {
    color: #767676; }
    .crumb:last-child::before {
      display: none; }

/* ========================================================================== */
@media screen and (max-width: 900px) {
  .breadcrumbs {
    margin-top: 20px; } }
/* ========================================================================== */
/* ========================================================================== */
.grid-view {
  align-items: stretch;
  flex-flow: row wrap; }

.view-item {
  -webkit-box-flex: 0 1 33.3334%;
  -moz-box-flex: 0 1 33.3334%;
  -webkit-flex: 0 1 33.3334%;
  -ms-flex: 0 1 33.3334%;
  flex: 0 1 33.3334%; }

/* ========================================================================== */
/* ========================================================================== */
.product-listing {
  padding: 3px 0 0;
  margin: 0 -11px; }
  .product-listing .product {
    max-width: 242px;
    padding: 15px 15px 14px;
    margin: 0 11px 22px;
    border: 1px solid #E4E4E4;
    border-radius: 2px; }
    .product-listing .product-image {
      margin: 0 0 18px; }
    .product-listing .product-title {
      margin: 0 -15px;
      padding: 0 15px 11px;
      text-transform: uppercase;
      font: 400 16px/24px "Arimo", sans-serif;
      text-align: center;
      border-bottom: 1px solid #E4E4E4; }
    .product-listing .product-info {
      padding: 16px 0px 0;
      color: #444; }
    .product-listing .product-price {
      margin: 0;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: .7px; }
    .product-listing .product .i-cart {
      line-height: 1;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH"; }
      .product-listing .product .i-cart::before {
        margin-left: 4px;
        font-size: 20px; }

.not-handheld .product-listing a:hover {
  color: #282C37; }

/* Media Queries ============================================================ */
@media screen and (max-width: 900px) {
  .product-listing {
    margin: 0 -5px; }
    .product-listing .product {
      margin: 0 5px 10px; }
      .product-listing .product-title {
        font-size: 14px;
        line-height: 16px; }
      .product-listing .product-price {
        font-size: 20px; } }
@media screen and (max-width: 700px) {
  .product-listing .product-info {
    justify-content: center;
    flex-wrap: wrap; }
  .product-listing .product-price {
    margin: 0 0 10px;
    text-align: center;
    -webkit-box-flex: 0 1 100%;
    -moz-box-flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
  .product-listing .i-cart {
    margin-left: 0; } }
@media screen and (max-width: 500px) {
  .product-listing .view-item {
    -webkit-box-flex: 0 1 50%;
    -moz-box-flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  .product-listing .product {
    padding: 0; }
    .product-listing .product-title {
      margin: 0;
      font-size: 12px; }
    .product-listing .product-info {
      padding: 10px 0; }
    .product-listing .product-price {
      font-size: 16px; } }
/* ========================================================================== */
/* ========================================================================== */
.pagination {
  justify-content: center;
  margin: 16px 0 0;
  font-size: 14px;
  line-height: 22px; }
  .pagination .active {
    font-size: 18px;
    color: #444;
    cursor: default; }
  .pagination .page {
    padding: 0 10px; }

.not-handheld .pagination a:hover {
  color: #444; }

/* Media Queries ============================================================ */
@media screen and (max-width: 900px) {
  .pagination {
    margin: 10px 0 0; } }
/* ========================================================================== */
/* ========================================================================== */
.category-outro {
  padding-top: 36px;
  border-top: 1px solid #777;
  margin-top: 40px;
  margin-left: -10px;
  font-size: 14px;
  line-height: 22px; }

/* Media Queries ============================================================ */
@media screen and (max-width: 900px) {
  .category-outro {
    margin: 20px 0 0;
    padding: 10px 0 0; }
    .category-outro .col-1,
    .category-outro .col-2 {
      text-align: justify;
      padding: 10px; } }
@media screen and (max-width: 700px) {
  .category-outro {
    font-size: 12px; }
    .category-outro .col-1,
    .category-outro .col-2 {
      padding: 0;
      padding-bottom: 10px; } }
/* ========================================================================== */

/*# sourceMappingURL=main.css.map */
