	$gridView: '.grid-view';
	$viewItem: '.view-item';
/* ========================================================================== */
	#{$gridView}{
		align-items: stretch;
		flex-flow: row wrap;
	}
	#{$viewItem}{
		@include flex(0 1 33.3334%);
	}
/* ========================================================================== */